button{
	margin-top: 20px;
	margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
	background-color: rgb(133, 82, 82);
	color: black;
	border-radius: 10px;
}

button:hover{
	color: white;
	background-color : black;
}

table{
    text-align: left;
    background-color: rgb(210, 168, 214);
}